  {% assign tiles = site.posts | sort:'date' %}

{% assign psize = tiles | size %}

<section id="one" class="tiles">
 
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image">
      <img src="{{ tile.image }}" alt="" />
    </span>
    <header class="major">
      {{tile.tag}}
      <h2><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.description }}</a> 
      
      </h2> 
      <p style="font-size:1.05em;">{{ tile.title }}</p>
      {{tile.speaker}} <br>
       <b>{{tile.day}} {{tile.hour}}</b>
       <br>  {%if tile.video %}<i class="fa fa-film" aria-hidden="true"></i> Talk disponível!
       {%endif%} 
    </header>
  </article>


  {% endfor %}

 
{% for tile in (psize..5) %}
<article>
  <span class="image">
    <img src="{{ tile.image }}" alt="" />
  </span>
  <header class="major">
    
    <h2>Stay Tuned
    
    </h2> 
    <p style="font-size:1.05em;">Coming Soon...</p>
   
  </header>
</article>

{% endfor %}

</section>
